@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<h1>
    <a href="https://aka.ms/aspaccountconf" class="d-none">these docs</a> <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</h1>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}
