@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="position-relative">
    <img class="h-100 w-100" src="~/img/turn-on-2933016_1920.jpg" />
    <div class="text-center position-absolute w-100 h-100 d-flex justify-content-center align-items-center" style="top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.7);color:white">
        <div>
            <h1 class="display-4">Welcome</h1>
            <p class="d-none">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</div>
<div class="container h-100 mt-4">
    <h2>
        Slovensko a elektromobily v novinách a správach:
    </h2>
    <div class="rounded shadow p-2">
        <iframe src="https://www.e-car.sk/flipbook/elektromobilita/mobile/index.html" class="w-100 rounded" style="height:800px">
        </iframe>
    </div>
    <h3 class="mt-3">Správy</h3>
    <a href="https://fontech.startitup.sk/category/elektromobilita+zo-slovenska/" class="d-inline-block mb-2 rounded shadow w-100">
        <div class="rounded shadow px-5 py-3" style="background-image: linear-gradient(to right,#0073BB,#00A399)">
            <img src="https://fontech.startitup.sk/wp-content/themes/fontech/images/elektrotech/logo-elektrotech-high-res.png" alt="Alternate Text" class="img-fluid" />
        </div>
    </a>
    <a href="https://www.mojelektromobil.sk/tag/elektromobilita-na-slovensku/" class="d-inline-block mb-2 rounded shadow w-100 ">
        <div class="rounded shadow px-5 py-3 d-flex justify-content-center align-items-center" style="height:150px;width:100%">
            <img src="https://www.mojelektromobil.sk/wp-content/uploads/2018/10/regular_logo.png" alt="Alternate Text" class="img-fluid" />
        </div>
    </a>

</div>
