@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="position-relative">
    <img class="h-100 w-100" src="~/img/turn-on-2933016_1920.jpg" />
    <div class="text-center position-absolute w-100 h-100 d-flex justify-content-center align-items-center" style="top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.7);color:white">
        <div>
            <h1 class="display-4">Welcome</h1>
            <p class="d-none">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
</div>
