@page
@model VSDProjekt.Pages.connects.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>connected</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="connected.connectedID" />
            <div class="form-group">
                <label asp-for="connected.Spotreba" class="control-label"></label>
                <input asp-for="connected.Spotreba" class="form-control" />
                <span asp-validation-for="connected.Spotreba" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="connected.Spustene" /> @Html.DisplayNameFor(model => model.connected.Spustene)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="connected.ParentID" class="control-label"></label>
                <select asp-for="connected.ParentID" class="form-control" asp-items="ViewBag.ParentID"></select>
                <span asp-validation-for="connected.ParentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
